@use './color_variables.scss' as *;


@media (prefers-color-scheme: light) {
  html,
  body {
    background-color: $backgroundColor-light;
    color: $secondary-light;
  }
}
@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $backgroundColor-dark;
    color: $secondary-dark;
  }
}